body {
    margin: 0;
    overflow: hidden;
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    user-select: none;
    -webkit-user-select: none;
}

.joystick-zone {
    position: fixed;
    width: 50vw;
    height: 85%;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.7); /* Outline for joystick areas */
    box-sizing: border-box; /* Ensures border doesn't affect layout */
}

#joystick-zone-left { left: 0; }
#joystick-zone-right { right: 0; }

.joystick-feedback {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.button-container {
    position: fixed;
    bottom: 5%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.control-button {
    padding: 10px 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100px;
}

.action-dropdown {
    padding: 10px 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 120px;
}

#voice-button {
    background: orange;
}

#action-button {
    background: red;
}

#sit-button {
    background: blue;
}

#stand-button {
    background: green;
}

.control-button.active {
    filter: brightness(0.7);
}

#voice-button.listening {
    background: blueviolet;
}

#execute-button {
    background: rgb(56, 114, 56);
}