server.modules += ( "mod_access" )
server.modules += ( "mod_alias" )
server.modules += ( "mod_compress" )
server.modules += ( "mod_redirect" )
server.modules += ( "mod_rewrite" )
server.modules += ( "mod_fastcgi" )
server.modules += ( "mod_auth" )
server.modules += ( "mod_static" )

# Static files (HTML, CSS, JS)
static-file.exclude-extensions = ( ".php", ".py", "~", ".inc" ) # Example, add more if needed
server.document-root = "{{ project_path }}/frontend"

# Flask application (using FastCGI)
fastcgi.server = (
    "/robot" => (  # URL path that will be handled by Flask
        (
            # Path to your Flask app (make sure it runs with FastCGI)
            "bin-path" => "{{ env_path }}/bin/python {{ project_path }}/backend/wsgi.py",
            "socket" => "/tmp/robot-control.sock",  # Unix socket for communication
            "min-procs" => 1,
            "max-procs" => 3, # Adjust number of processes as needed
            "check-server" => true, # Check if the Flask server is running
        )
    )
)

